<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.betterme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- Ensuring the base theme is AppTheme -->

        <!-- CheckInActivity set as the launcher activity -->
        <activity
            android:name=".ui.CheckInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity declaration -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"/> <!-- Applying AppTheme to MainActivity -->

    </application>

</manifest>
